.nav-active {
    background-color: red;
}

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.pic-size {
    height: 20vh;
    width: 15vw;
}
.hidden{
    display: none;
}