{{>htmlHead}} {{>htmlNavbar}}

<h1>main</h1>
<main class="main-wrapper">
    {{#each dogPics}}
    <figure>
        <h3>{{title}}</h3>
            <a href="/singlePic?id={{id}}"><img class="pic-size" src="{{url}}"></a>        
    </figure>
    {{/each}}
</main>
{{>htmlFooter}}