{{>htmlHead}}
{{>htmlNavbar}}

  <h1>hello</h1><div class="test">
    {{#each dogPics}}
    <div class="picWrapper">
        <h1>{{title}}</h1>
        <img src="{{url}}">
    </div>


    {{/each}}
</div>  
{{>htmlFooter}}
