<header>
  <nav>
    <ul>
      <li><a class="{{#if activePage.home}} nav-active{{/if}}" href="/">Home</li>
      <li><a class="{{#if activePage.about}} nav-active{{/if}}" href="/aboutUs">About Us</li>
      <li><a class="{{#if activePage.addPic}} nav-active{{/if}}" href="#addPic">Add a Picture</li>
      <li><a class="{{#if activePage.contact}} nav-active{{/if}}" href="/contactUs">Contact</li>
    </ul>
  </nav>
</header>
